# Default ignored files
/../../../KrystianHordyński/Bookmarks/.idea/shelf/
/../../../KrystianHordyński/Bookmarks/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../KrystianHordyński/Bookmarks/.idea/httpRequests/
# Datasource local storage ignored files
/../../../KrystianHordyński/Bookmarks/.idea/dataSources/
/../../../KrystianHordyński/Bookmarks/.idea/dataSources.local.xml
